<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="popup">
            <div class="popup__inner">
                <section class="results">
                    <h2 class="hidden">Results</h2>
                    <p class="results__text">
                        Congratulations!, You successfully found all matches on
                        1:21 minutes
                    </p>
                    <button class="button button--add results__button">
                        Ok
                    </button>
                </section>
            </div>
        </div>
    </body>
</html>
