<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <header class="header">
            <div class="header__logo">
                <img
                    src="./assets/svg/logo.svg"
                    alt="game logotype"
                    class="logo"
                />
            </div>
            <div class="header__nav">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item nav__item--current">
                            <a href="#" class="nav__link">
                                <img
                                    class="nav__link-img"
                                    src="./assets/svg/about.svg"
                                    alt=""
                                />
                                <span class="nav__link-text">About Game</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <img
                                    class="nav__link-img"
                                    src="./assets/svg/best.svg"
                                    alt=""
                                />
                                <span class="nav__link-text">Best Score</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <img
                                    class="nav__link-img"
                                    src="./assets/svg/settings.svg"
                                    alt=""
                                />
                                <span class="nav__link-text"
                                    >Game Settings</span
                                >
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__user user">
                <button class="button button--primary user__button">
                    Start Game
                </button>
                <div class="user__img-wrapper">
                    <img src="#" alt="#" class="user__avatar" />
                </div>
            </div>
        </header>
    </body>
</html>
