@import "./tools/_tools";
@import "./settings/_settings";
@import "./libs/_libs";
@import "./elements/_elements";
@import "./components/_components";

body {
    font-family: "Roboto";
}

.img {
    width: 400px;
    height: 300px;
    background-image: url("../assets/images/img.jpg");
    background-size: cover;
}
